@media (max-width: 1092px) {
    .header__container {
      gap: 50px;
      min-height: 100px;
    }
  
    .menu__list {
      column-gap: 40px;
    }
  }
  @media (max-width: 767.98px) {
    .header__container {
      min-height: 65px;
    }
  }
  @media (max-width: 479.98px) {
    .header__container {
      gap: 15px;
    }
  
    .menu {
      padding: 0;
    }
    .menu__list {
      column-gap: 20px;
    }
  
    .header__logo {
      width: 28px;
      flex: 0 0 28px;
      overflow: hidden;
    }
  }